body {
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.mandatory {
    color: red;
}

.group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.join {
    display: flex;
    flex-direction: row;

}

label {
    font-size: 16px;
    font-weight: bold;
}

.set {
    margin-right: 10px;
}

#email {
    width: 52%;
}

h3 {
    margin: 0;
    font-size: 16px;
}

.over {
    font-size: 16px;
}

h2 {
    font-size: 18px;
    font-weight: bold;
}

.category {
    font-size: 14px;
    margin-left: 60px;
}

p {
    font-weight: 500;

}

.sub {
    width: 20%;
    margin-left: 5px;
}

.circle {
    appearance: none;
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #333;
    outline: none;
    cursor: pointer;
}

.circle:checked {
    background-color: #0651ff;
    border: 2px solid #333;
}

.review {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.review .circle {
    margin-right: 35px;
    /* Adjust the margin as needed for spacing */
}

.color {
    background-color: #f1f1f1;
}

button {
    padding: 10px;
    border: none;
}